
.map-page {
  display: flex;
  flex-direction: row;
}
.place-listing {
  flex-basis: 20%;
  height: 600px;
}
.map-div {
  flex-basis: 80%;
  background: yellow;
}
#map {
  height: 600px;
  display: flex;
  /*align-self: stretch;*/
}
