@media (max-width: 900px) {
  .mobile-hide {
    display: none;
  }
  #main-header {
    height: 100px;
    flex: 0 1 100%;
    margin-bottom: 100px;
  }
  .icon-vertical-nav {
    display: flex;
    padding: 1px 5px 1px 5px;
    width: 20%;
    margin: 2px;
    justify-content: center;
  }
  .horizontal-bar {
    flex-wrap: wrap;
  }

  .icon-header {
    order: 0 !important;
    padding: 1px 5px 1px 5px;
    margin: 2px;
  }
  .icon-footer{
    margin-bottom: 2px;
  }
  .username {
    order: 1 !important;
    /*margin: 15px;*/
  }
  .search {
    margin-top: 10px;
    order: 2 !important;
    flex: 0 1 100%;
  }
}

body {
  background-color: #323D2E;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
}
a, span {
  text-decoration: none;
  color: white;
  letter-spacing: 1px;
}
p {
  font-size: 0.8em;
}
#cart {
  display: flex;
  flex-flow: row nowrap;
  margin-left: 5px;
}
.cart-list {
  display: flex;
  flex-flow: column;
  flex-basis: 75%;
}
.cart-item {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-around;
  flex-basis: 75%;
}
.cart-buttons {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  flex-basis: 25%;
}
.cart-total {
  margin-left: 20px;
  font-size: 2em;
}
.card {
  width: 150px;
  height: 150px;
  background: #92AF8F;
  padding: 10px;
  margin: 5px;
}
.card:hover {
  width: 152px;
  height: 152px;
  box-shadow: 2px 2px 4px;
  cursor: pointer;
}
.menu-item {
  display: flex;
  width: 300px;
  height: 300px;
  background: #92AF8F;
  padding: 10px;
  margin: 5px;
  flex-flow: column;
  justify-content: space-between;
}
#recent-stores-header {
  margin-left: 20px;

}
#menu-page {
  display: flex;
}
.add-to-cart {
  text-align: center;
  padding: 5px 10px 5px 10px;
  border: 1px solid black;
}
.add-to-cart:hover{
  text-align: center;
  padding: 5px 10px 5px 10px;
  border: 1px solid black;
  box-shadow: 1px 1px 2px;
  cursor: pointer;
}
.card-list {
  display: flex;
  flex-flow: row wrap;
  flex: 0 1 100%;
  margin-left: 10px;
}

#orders-list {
  display: flex;
  flex-direction: column;
  flex: 0 1 50%;
  background: #92AF8F;
  padding-left: 10px;
  margin-bottom: 5px;
  justify-content:flex-start;
}
.order-list {
  display: flex;
  align-self: flex-start;
  width: 100%;
  flex-flow: column;
  color: white;
}
.order {
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 5px;
  background: #006341;
}
.order-details{
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  width: 100%;
}
.order-item {
  display: flex;
  flex-flow: column;
  width: 100%;
  margin-left: 20px;
  padding: 10px 20px;
}
.horizontal-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background: #92AF8F;
  padding: 10px;
  text-align: center;
}
#main-nav {
  order: 2;
  margin-right: 2px;
}
.vertical-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 0 1 10%;
  background: #92AF8F;
  padding: 10px;
  text-align: center;
}
.icon-header {
  padding: 5px 35px 5px 35px;
  margin: 2px;
  /*border: 3px solid black;*/
  width: 200px;
  background-color: #006341;
}
.icon-vertical-nav {
  width: 100%;
  padding: 5px 35px 5px 35px;
  background-color: #006341;
  margin-bottom: 5px;
}
.icon-footer {
  width: 300px;;
  padding: 5px 35px 5px 35px;
  /*border: 3px solid black;*/
  background-color: #006341;
}
.search {
  width: 300px;
}
.search input {
  /*display: block;*/
  margin: 0;
  padding: 0 4px;
  width: 100%;
  height: 35px;
  color: #6d6d6d;
  background-color: #fff;
  border: solid 2px #e7e7e7;
  font-size: 1.2em;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  height: 500px;
}
.flex-form {
  margin-top: 10px;
  display: flex;
  flex-flow: column;
  padding: 10px 50px 80px 50px;
  background: #92AF8F;
}
.input-section input {
  display: flex;
  flex-flow: column;
}
.input-section input {
  display: block;
  margin: 0;
  padding: 0 4px;
  width: 100%;
  height: 35px;
  color: #6d6d6d;
  background-color: #fff;
  border: solid 2px #e7e7e7;
  font-size: 0.8em;
}
.input-section button {
  display: block;
  margin-top: 10px;
  width: 100%;
  background-color: #006341;
  border: solid 2px #e7e7e7;
  font-size: 0.8em;
  color: white;
  letter-spacing: 2px;
}
#flexbox {
  display: flex;
  flex-flow: row wrap;
}

.main_section {
  /*background: #CCC;*/
  /*border-radius: 7px;*/
  /*margin: 5px;*/
  /*padding: 5px;*/
}

#main-header {
  order: 1;
  height: 60px;
  flex: 0 1 100%;
}


#main-main {
  order: 3;
  min-height: 600px;
  min-width: 300px;
  flex: 1;
}

#home-page {
  display: flex;
  flex-direction: row;
}

#main-footer {
  order: 5;
  height: 60px;
  flex: 0 1 100%;
}

#main-image {
  background-image: url('');
  height: 500px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
