body {
  margin: 0px;
  font-family: Lato;
}

#flexbox {
  display: flex;
  flex-flow: row wrap;
}

.main_section {
  background: #CCC;
  border-radius: 7px;
  margin: 5px;
  padding: 20px;
}

#main-header {
  order: 1;
  height: 100px;
  flex: 0 1 100%;
}

#main-nav {
  order: 2;
  flex: 0 1 10%;
}

#main-main {
  order: 3;
  min-height: 500px;
  min-width: 300px;
  flex: 1;
}

#main-aside {
  order: 4;
  flex: 0 1 10%;
}

#main-footer {
  order: 5;
  height: 100px;
  flex: 0 1 100%;
}
