<h3> CART </h3>
{{main.cart.items.length}} Items in cart
<div id="cart">
  <div class="cart-list">
    <div ng-if="main.cart.items.length > 0" class="cart-item">
      <h3>Item</h3>
      <h3>Price</h3>
      <h3>Quantity</h3>
      <h3>Subtotal</h3>
    </div>
    <hr>
    <div ng-repeat="orderItem in main.cart.items">
      <div class="cart-item">
        <h4>{{orderItem.product.name}}</h4>
        <h4>{{orderItem.product.price | currency}}</h4>
        <h4>
          <form id="quantity-form" ng-submit="main.updateCart(orderItem, quantity)">
            <input  ng-model="quantity" type="text" placeholder="{{orderItem.quantity}}">
          </form>
        </h4>
        <h4>{{orderItem.subtotal | currency}}</h4>
      </div>
      <div class="cart-button" ng-click="main.removeFromCart(orderItem)">
        <span>Delete</span>
      </div>

      <hr>
    </div>
  </div>
  <div class="cart-total">
    <h4>Total ({{main.cart.items.length}} {{main.cart.items.length === 1? "item" : "items"}}):</h4>
      <h4>{{main.cart.total | currency}}</h4>

      <form ng-submit="main.checkout()" ng-show="main.cart.items.length && main.user">
        <input type="submit" value="Place Order">
      </form>
  </div>
</div>
