
<div ng-if="main.cart.items.length > 0" id="cart">
  <div class="cart-total">
    <h4 class="cart-total-header">Total</h4>
    <h5 class="cart-total-header">{{main.cart.total | currency}}</h4>

      <div class="checkout-button text-center" ng-click="main.checkout()" ng-show="main.cart.items.length && main.user">
        Checkout
      </div>
  </div>
  <hr>
  <div class="cart-list">
    <table style="width:100%">
      <tr>
        <th>Item</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Subtotal</th>
        <th>Remove</th>
      </tr>
      <tr ng-repeat="orderItem in main.cart.items">
        <td>{{orderItem.product.name}}</td>
        <td>{{orderItem.product.price | currency}}</td>
        <td>
          <form id="quantity-form" ng-submit="main.updateCart(orderItem, quantity)">
            <input  ng-model="quantity" type="text" placeholder="{{orderItem.quantity}}">
          </form>
        </td>
        <td>{{orderItem.subtotal | currency}}</td>
        <td class="" ng-click="main.removeFromCart(orderItem)"><i class="fa fa-times" aria-hidden="true"></i>
          </td>
      </tr>
    </table>
  </div>

</div>
<div ng-if="main.cart.items.length == 0">
  <h2 class="green-glow-h2 ">Cart is Empty!</h2>
</div>
