<h3> CART </h3>
{{main.cart.items.length}} Items in cart
<div id="cart">
  <div class="cart-list">
    <div class="cart-item">
      <h4>Item</h4>
      <h4>Price</h4>
      <h4>Quantity</h4>
      <h4>Subtotal</h4>
    </div>
    <hr>
    <div ng-repeat="orderItem in main.cart.items">
      <div class="cart-item">
        <h4>{{orderItem.product.name}}</h4>
        <h4>{{orderItem.product.price | currency}}</h4>
        <h4>{{orderItem.quantity}}</h4>
        <h4>{{orderItem.subtotal | currency}}</h4>
      </div>
      <div class="cart-buttons">
        <select name="quantity" ng-model="main.quantityAtCartIndex[$index]">
          <option ng-repeat="num in [1,2,3,4,5,6,7,8,9,10]" value="{{num}}">{{num}}</option>
        </select>
        <input ng-click="main.updateCart(orderItem, main.quantityAtCartIndex[$index], $index)" type='button' value="Update Cart">
        <input ng-click="main.removeFromCart(orderItem)"type="button" value="Delete">
      </div>
      <hr>
    </div>
  </div>
  <div class="cart-total">
    <h4>Total ({{main.cart.items.length}} {{main.cart.items.length === 1? "item" : "items"}}):</h4>
      <h4>{{main.cart.total | currency}}</h4>

      <form ng-submit="main.checkout()" ng-show="main.cart.items.length && main.user">
        <input type="submit" value="Place Order">
      </form>
  </div>
</div>
