
<h2 id="recent-stores-header">RECENT STORES:</h2>
<div id="home-page">
  <main class="card-list">

    <div ng-repeat="store in main.stores">
      <div class="card" ng-click="main.showMenu(store)">
        <h4>{{store.name}}:</h4>
        <h6>{{store.address}}</h6>
      </div>
    </div>
  </main>

  <aside id="orders-list" class="main_section">
    <h3> RECENT ORDERS </h3>
    <div class="order-list" ng-repeat="order in main.orders">
      <div class="order" ng-click="main.showOrder(order)">{{order.total | currency}} {{order.created_at | date:"MM/dd/yyyy 'at' h:mma"}}</div>
    </div>
  </aside>
</div>
