<div id="order-details-page">
  <h2 class="green-glow-h2"> ORDER Details</h2>
    <div class="order-card">
      <h3 class="order-details-h3">{{main.thisOrder.store.name}}</h3>
      <h4 class="order-details-h4">{{main.thisOrder.order.created_at | date:"MM/dd/yy 'at' h:mma"}}</h4>
      <h5 class="order-details-h5">Total: {{main.thisOrder.order.total | currency}}</h5>
      <hr>
      <div class="order-details" ng-repeat="item in main.thisOrder.breakdown">
        <div class="order-item">
          <li>{{item.details[0].quantity}} {{item.item.name}} @ {{item.item.price | currency}}
          </li>
        </div>
      </div>
    </div>
</div>
