

<div class="form-container">
  <form class="flex-form" ng-submit="main.signup(userPass)">
    <div class="input-section">
      <label for="first-name"></label>
      <input ng-model="userPass.firstName" type="text" id="first-name" placeholder="First name">
    </div>
    <div class="input-section">
      <label for="last-name"></label>
      <input ng-model="userPass.lastName" type="text" id="last-name" placeholder="Last name">
    </div>
    <div class="input-section">
      <label for="username"></label>
      <input ng-model="userPass.username" type="text" placeholder="username">
    </div>
    <div class="input-section">
      <label for="password"></label>
      <input ng-model="userPass.password" type="password" placeholder="password">
    </div>
    <div class="input-section">
      <button type="submit">Sign up</button>
    </div>

  </form>
</div>
