

<div class="form-container" id="profile">
  <form class="flex-form" ng-submit="main.update(userPass)">
    <div class="input-section">
      <label for="first-name"></label>
      <input ng-model="userPass.firstName" type="text" id="first-name" placeholder="{{main.user.firstname}}">
      <label for="last-name"></label>
      <input ng-model="userPass.lastName" type="text" id="last-name" placeholder="{{main.user.lastname}}">
    </div>

    <div class="input-section">
      <label for="username"></label>
      <input ng-model="userPass.username" type="text" placeholder="{{main.user.username}}">
    </div>
    <div class="input-section">
      <label for="password"></label>
      <input ng-model="userPass.password" type="password" placeholder="Enter new password">
    </div>
    <div class="input-section">
      <button type="submit">Update</button>
    </div>
    <div class="input-section">
      <button id="delete-user" ng-click="main.destroy()">Delete</button>
    </div>
  </form>
</div>
